extends layout

block content

  .resource-list-header
    h1 Resource List
    .create-resource
      button.btn.create-resource-button(type='button', data-toggle='modal', data-target='#myModal') Share a Resource
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Create a Resource
          .modal-body
            include resourceform.pug
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  for resource in resources
    .jumbotron
      .resource-header
        h2.resource-title=resource.name
        h3.phone=resource.phone_number
      .review
        span.glyphicon.glyphicon-star(aria-hidden='true')
        i.glyphicon.glyphicon-star(aria-hidden='true')
        i.glyphicon.glyphicon-star(aria-hidden='true')
        i.glyphicon.glyphicon-star(aria-hidden='true')
        i.glyphicon.glyphicon-star(aria-hidden='true')
        i.glyphicon.glyphicon-star(aria-hidden='true')
      h4.resource-title Description
      p=resource.description
      h4.resource-title Website
      p=resource.website_url
      form
      .form-group
        .form-check
          label.form-check-label
            input.form-check-input(type='checkbox')
            |       Would you use this service?
        button.btn.create-resource-button(type='submit') YES?
      h4.resource-title # of Recomendations
      p=resource.votes
